@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #555;
  font-family: "Poppins", sans-serif;
}

/* 
==========================
====      header      ====
==========================
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  transition: 0.6s;
  padding: 10px 0;
  background-color: #2b2b2b;
  border-bottom: 1px solid #35aa93;
  color: #000;
  overflow: hidden;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  margin-left: 30px;
}
header .logo img {
  height: 50px;
  transition: 0.2s;
}
header .logo:hover img {
  opacity: 0.7;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: #e9e9e9;
  line-height: 79px;
  font-weight: 400;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}
header ul li a:hover {
  color: #35aa93;
}

/* header ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 3px;
    background-color: #35AA93;
    box-shadow: 0 0 15px 5px #35AA93;
    transition: .3s ease;
}
header ul li a:hover::after{
    width: 100%;
} */
header ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 2px;
  border-radius: 6px;
  background-color: #4cbda4;
  box-shadow: none;
  transition: 0.3s ease;
}
header ul li a:hover::before {
  width: 90%;
  box-shadow: 0 0 16px 6px #3dc4a988, 0 0 5px 2px #e8fffa1f;
}
.toggle {
  display: none;
}

/* 
==========================
====       Home       ====
==========================
*/
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.img-home {
  position: relative;
  overflow: hidden;
  height: 50vh;
  background: url("./assets/home-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-img {
  position: absolute;
  bottom: 0;
  height: calc(100% - 80px);
  transform: translate(-30%);
}
.home-content {
  flex: 1;
  display: flex;
  justify-content: center;
}
.home-content .content-left h2 {
  color: #e9e9e9;
  display: flex;
}
.home-content .content-left .green {
  color: #35aa93;
  position: relative;
  display: flex;
  margin-left: 5px;
}
.home-content .content-left .green::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #35aa93;
}
.home-content .content-left p {
  color: #e9e9e9;
  margin: 15px 0;
}

.content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 50px;
}

.btn a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  font-size: 18px;
  color: #e9e9e9;
  text-decoration: none;
  transition: 0.3s;
  background: linear-gradient(to right, #01bb7e, #02a68e);
  border-radius: 20px;
}
.btn a:hover {
  opacity: 0.7;
}
.btn {
  position: relative;
}

.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  background: #02a68e;
  -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}
.content-right h2 {
  color: #e9e9e9;
}

.content-right img {
  width: 90%;
  filter: hue-rotate(320deg);
}

/* 
==========================
====     Services     ====
==========================
*/

.home-services {
  width: 100%;
  height: 100%;
  background-color: #444;
  color: #e9e9e9;
  display: flex;
  flex-direction: column;

}
.home-services h2 {
  padding: 30px;
}


.services {
  width: 100%;
  display: flex;
  position: relative;
  color: #e9e9e9;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 250px;
  outline: 2px solid #35aa93;
  margin: 30px 15px;
  border-radius: 10px;
  transition: .3s ease;
}
.box:hover{
  transform: scale(1.09);
}
.box:hover img{
  transform: translateY(-10px);
}
.box img {
  width: 60px;
  height: 60px;
  transition: .2s ease;
}
.box h2 {
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}





@media (max-width: 1000px) {
  .toggle {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    margin: 0;
    transition: 0.5s;
  }
  .toggle:hover {
    color: #35aa93;
  }
  header ul {
    position: fixed;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #121212f3;
    height: calc(100vh - 80px);
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }
  header.active ul {
    transform: translateX(0);
  }
  header ul li a::before {
    width: 20vw;
  }
  header .logo {
    margin-left: 30px;
  }
  .home-content {
    flex-direction: column;
  }
  .home-content .content-left p {
    text-align: justify;
  }
  .home-content .content-left h2 {
    justify-content: center;
  }
  .home-content .content-left .btn a {
    width: 100%;
  }
  .content-left {
    padding: 30px;
  }
  .logo-img {
    transform: translate(-50%);
  }
  .box{
    width: 80%;
    margin: 30px 0;
  }
  .home-services h2{
    padding: 20px;
  }
  .home-services{
    text-align: center;
  }
}
