@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #555;
  font-family: "Poppins", sans-serif;
}

/* 
==========================
====      header      ====
==========================
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  transition: 0.6s;
  padding: 10px 0;
  background-color: #2b2b2b;
  border-bottom: 1px solid rgba(219, 219, 219, 0.37);
  color: #000;
  overflow: hidden;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  margin-left: 30px;
}
header .logo img {
  height: 50px;
  transition: 0.2s;
}
header .logo:hover img {
  opacity: 0.7;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: #e9e9e9;
  line-height: 79px;
  font-weight: 400;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}
header ul li a:hover {
  color: #35aa93;
}

/* header ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 3px;
    background-color: #35AA93;
    box-shadow: 0 0 15px 5px #35AA93;
    transition: .3s ease;
}
header ul li a:hover::after{
    width: 100%;
} */
header ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 2px;
  border-radius: 6px;
  background-color: #4cbda4;
  box-shadow: 0 0 16px 6px #3dc4a988, 0 0 5px 2px #e8fffa1f;
  transition: 0.3s ease;
}
header ul li a:hover::before {
  width: 90%;
}
.toggle {
  display: none;
}

/* 
==========================
====       Home       ====
==========================
*/
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.img-home {
  height: 50vh;
  background: url(".assets/home-img.jpg"),
    linear-gradient(#0000009f, rgba(0, 0, 0, 0.301));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-content {
  flex: 1;
  display: flex;
  justify-content: center;
}
.home-content .content-left h2 {
  color: #e9e9e9;
  display: flex;
  
 
}
.home-content .content-left .green {
  color: #35aa93;
  position: relative;
  display: flex;
  margin-left: 5px;
  
}
.home-content .content-left .green::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #35aa93;
    box-shadow: 0 0 16px 6px #3dc4a94f, 0 0 5px 2px #e8fffa1f;
}
.home-content .content-left p {
  color: #e9e9e9;
  margin: 15px 0;
}

.content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
}

.btn a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  font-size: 18px;
  color: #35aa93;
  text-shadow: 0 0 10px #35aa93;
  text-decoration: none;
  transition: .3s;
  outline: 3px solid #35aa93;
  box-shadow: 0 0 25px 5px #35aa9362,
            inset 0 0 10px 3px #35aa93;
}
.btn a:hover{
    opacity: 0.7;
}
.btn{
    position: relative;

}

.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
}
.content-right h2{
    color: #e9e9e9;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    outline: 2px solid #35aa93;
    padding: 6px 10px;
    margin: 10px;
}
.box img{
    width: 65px;
    height: 60px;
}.box h2{
    margin-left: 15px;
    font-size: 18px;
}

@media (max-width: 1000px) {
  .toggle {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    margin: 0;
    transition: 0.5s;
  }
  .toggle:hover {
    color: #35aa93;
  }
  header ul {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #121212f3;
    height: calc(100vh - 80px);
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }
  header.active ul {
    transform: translateX(0);
  }
  header ul li a::before {
    width: 20vw;
  }
  header .logo {
    margin-left: 30px;
  }
  .home-content {
    flex-direction: column;
  }
  .home-content .content-left p {
    text-align: justify;
  }
  .home-content .content-left h2{
      justify-content: center;
  }
  .home-content .content-left .btn a{
    width: 100%;
  }
  .content-left{
      padding: 30px;
  }
}
